name: Docker Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build Backend Docker Image
      run: docker build -t svgboard-backend ./backend
    
    - name: Build Frontend Docker Image
      run: docker build -t svgboard-frontend ./frontend
    
    - name: Test Docker Compose
      run: docker compose config
